
Assets/~$ControllersEndpoint.xlsx
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Mono.TextTemplating.dll
bin/Debug/net6.0/MySqlConnector.dll
bin/Debug/net6.0/Pomelo.EntityFrameworkCore.MySql.dll
bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/SandubaApi.deps.json
bin/Debug/net6.0/SandubaApi.dll
bin/Debug/net6.0/SandubaApi.exe
bin/Debug/net6.0/SandubaApi.pdb
bin/Debug/net6.0/SandubaApi.runtimeconfig.json
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/System.CodeDom.dll
bin/Debug/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/System.Text.Json.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ref/SandubaApi.dll
obj/Debug/net6.0/refint/SandubaApi.dll
obj/Debug/net6.0/SandubaApi.AssemblyInfo.cs
obj/Debug/net6.0/SandubaApi.AssemblyInfoInputs.cache
obj/Debug/net6.0/SandubaApi.assets.cache
obj/Debug/net6.0/SandubaApi.csproj.AssemblyReference.cache
obj/Debug/net6.0/SandubaApi.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/SandubaApi.csproj.CopyComplete
obj/Debug/net6.0/SandubaApi.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/SandubaApi.csproj.FileListAbsolute.txt
obj/Debug/net6.0/SandubaApi.dll
obj/Debug/net6.0/SandubaApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/SandubaApi.genruntimeconfig.cache
obj/Debug/net6.0/SandubaApi.GlobalUsings.g.cs
obj/Debug/net6.0/SandubaApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/SandubaApi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/SandubaApi.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets/msbuild.build.SandubaApi.props
obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.SandubaApi.props
obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.SandubaApi.props
obj/project.assets.json
obj/project.nuget.cache
obj/SandubaApi.csproj.EntityFrameworkCore.targets
obj/SandubaApi.csproj.nuget.dgspec.json
obj/SandubaApi.csproj.nuget.g.props
obj/SandubaApi.csproj.nuget.g.targets
